<%= link_to('Add new object', new_sql_injection_object_path) %>
<h1>Objects</h1>
<% if @sql_objects.count > 0 %>
    <table>
      <tr>
        <th>Title</th>
        <th>Text</th>
      </tr>
      <% @sql_objects.each do |sql_object| %>
          <tr>
            <td><%= sql_object.title %></td>
            <td><%= sql_object.text %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <h3>There are no objects in the database!</h3>
<% end %>